<%= stylesheet_link_tag params[:controller] %>

<ul>
  <% @representatives.each do |representative| %>
    <li class="col-md-4 representative-state-tile">
      <img class="col-md-12" src="<%= representative.image_url %>">
      <%= link_to representative.first_name + ' ' + representative.last_name, representative_path(cid: representative.cid) %>
    </li>
  <% end %>
</ul>
