<ul>
  <% @representatives.each do |representative| %>
    <li><%= link_to representative.first_name + ' ' + representative.last_name, representative_path(cid: representative.cid) %></li>
  <% end %>
</ul>
